@keyframes yurayura {
  0% {
    transform: translate(0%, 0%);
  }
  5% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  25% {
    transform: translate(20%, 0%) rotate(20deg);
  }
  30% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  35% {
    transform: translate(-15%, 0%) rotate(-15deg);
  }
  45% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(15%, 0%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, 0%) rotate(-5deg);
  }
  65% {
    transform: translate(-7%, 0%) rotate(-7deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

.message-container {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 12px 20px;
  width: 300px;
  max-width: 300px;
  color: #555;
  font-size: 16px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #e0edff, 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  text-align: center;
}

.message-container:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffffff;
}

.message-container:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -17px;
  border: 17px solid transparent;
  border-top: 17px solid #e0edff;
  z-index: -1;
}
